.a-avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.a-avatar--small {
  width: 80px;
  height: 80px;
}

.a-avatar--greyscale {
  filter: grayscale(100%);
}

.a-avatar--square {
  border-radius: 15%;
}

.a-avatar--background {
  height: 72px;
  width: 72px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
