$navbar-height: 60px;
$navbar-menu-height: 40px;

.s-navbar {
  @include flex($justify-content: space-between);
  height: $navbar-height;
  padding: 0 25px;
  margin-bottom: -$navbar-height;
  font-family: $body-font;
  border-bottom: 1px solid $color-border-light;

  i {
    font-size: 25px;
  }
}

.s-navbar__logo {
  margin-right: auto;
  font-family: $header-font;

  .s-navbar__logo-text {
    margin-bottom: 5px;
  }

  a {
    font-weight: bold;
    font-family: $header-font;
    font-size: 20px;

    @media #{$to-medium} {
      .s-navbar__logo-text {
        display: none;
      }
    }

    @media #{$from-large} {
      font-size: 22px;
    }
  }

  img {
    width: 50px;
    margin-bottom: -5px;
  }
}

.s-navbar__desktop-nav-menu {
  @media #{$to-large} {
    display: none;
  }

  .s-navbar__nav {
    font-size: 16px;
    color: $color-dark-grey;
    margin: 0 15px;
    &:hover {
      color: $color-pink;
    }
  }

  .is-selected {
    color: $color-blue;
  }
}

.s-navbar__mobile-burger {
  @media #{$from-large} {
    display: none;
  }
}

.s-navbar__user-nav-icons {
  margin-left: auto;
  @include flex($justify-content: flex-end);

  a:not(:last-child) {
    margin-right: 15px;
  }

  .a-button {
    font-size: 16px;
  }
}

#nav-menu-dropdown-mobile,
#user-nav-menu-dropdown {
  display: none;
}

#user-nav-menu-dropdown {
  z-index: 1000;
  @media #{$from-medium} {
    position: absolute;
    width: 250px;
    background-color: $color-white;
    overflow: scroll;
    right: 10px;
    top: $navbar-height;
    border: solid 1px $color-box-shadow;

    .s-navbar__user-nav-menu-dropdown {
      margin: 0;
    }

  }

  h4 {
    font-size: 24px;
    margin: 0;
  }
}

.s-navbar__menu-mobile {
  @include flex($direction: column);
  margin-top: $navbar-height;
  margin-bottom: -$navbar-height;
  padding: 10px 20px;
  width: 100%;

  .s-navbar__nav {
    padding: 20px;
  }
}

.s-navbar__user-nav-menu-dropdown {
  @include flex($direction: column, $align-items: flex-start);
  margin-top: $navbar-height;
  margin-bottom: -$navbar-height;
  padding: 10px 20px;
  width: 100%;

  .s-navbar__nav {
    padding: 20px;
  }
}
