.m-sign-in {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  text-align: center;

  input,
  .a-button {
    padding: 10px;
  }

  .a-button {
    text-align: center;
    color: $color-white;
  }

  .a-button--ghost {
    color: $color-blue;

    &:hover {
      color: $color-pink;
    }
  }

  & > * {
    margin-bottom: 10px;
  }
}

.m-sign-in--full {
  text-align: left;
  input[type='text'],
  select {
    width: 100%;
  }
}

.m-sign-in__remember {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    padding-top: 3px;
  }

  input {
    transform: scale(1.2);
    margin-right: 10px;
  }
}
