$fade-speed: 0.5s;

@mixin link-fade {
  transition: background-color $fade-speed;
  border: 0;
  color: $color-pink;
}

@mixin button-fade {
  transition: background-color $fade-speed;
  border: 0;
  background-color: $color-pink;
}
