$page-padding: 16px;

$from-small:'(min-width: 480px)';
$from-medium:'(min-width: 648px)';
$from-large:'(min-width: 900px)';
$from-xlarge:'(min-width: 1280px)';
$from-xxlarge:'(min-width: 1600px)';

$to-small:'(max-width: 479px)';
$to-medium:'(max-width: 647px)';
$to-large:'(max-width: 899px)';
$to-xlarge:'(max-width: 1279px)';
$to-xxlarge:'(max-width: 1599px)';
