// Coolors Exported Palette - coolors.co/1446a0-5bc0eb-f5d547-fde74c-343330
// RGB

$color-pink: #db3069;
$color-blue: #1446a0;
$color-light-blue: #5bc0eb;
$color-pale-blue: #e3f4fc;
$color-dark-grey: #4e4d49;
$color-light-grey: #a2a2a0;
$color-white: #ffffff;
$color-black: #000000;
$color-border: #e6ecf0;
$color-border-light: rgba(0, 0, 0, 0.15);
$color-soft-grey: #cacacc;
$color-box-shadow: rgba(0, 0, 0, .05);

$color-twitter: #1DA1F2;
$color-facebook: #4267B2;
$color-github: #000000;
$color-linkedin: #0077B5;
$color-instagram: #5541D6;
