<%= form_for [@forum_thread, @forum_post] do |f| %>
  <div>
    <%= f.trix_editor :body, placeholder: "Add a comment", rows: 10, class: "form-control" %>
  </div>

  <div class="u-right">
    <%= f.submit 'Post', class: "a-button u-margin-top" %>
  </div>
<% end %>
