<table class="forums">
  <tr>
    <th class="forums__subject">Topic</th>
    <th class="forums__members">Members</th>
    <th class="forums__replies">Replies</th>
    <th class="forums__views">Views</th>
    <th class="forums__activity">Activity</th>
  </tr>
  <%= render forum_threads %>
</table>
