<section class="a-section">
  <div class="a-content--xwide u-margin-top">
    <div class="pull-right">
      <%= link_to "New Topic", new_forum_thread_path %>
    </div>
    <div class="pull-right" style="margin-right: 10px">
      <%= search_form_for @q, html: { class: "form-inline" } do |f| %>
        <%= f.search_field :subject_or_forum_posts_body_cont, placeholder: "Search...", class: "form-control" %>
      <% end %>
    </div>

    <h1>Forums</h1>
    <%= render partial: 'table', locals: { forum_threads: @forum_threads } %>
  </div>
</section>
