<a href='<%= about_path %>' class="s-navbar__nav <%= 'is-selected' if current_page?(about_path) %>">About us</a>
<a href='<%= meetups_path %>' class="s-navbar__nav <%= 'is-selected' if current_page?(meetups_path) %>">Meetups</a>
