<div class="s-navbar__user-nav-icons" id="nav-icons">
  <% if current_member %>
    <%= link_to member_path(current_member), class: 'js-user-nav-trigger' do %>
      <i class="fa fa-gear"></i>
    <% end %>
  <% else %>
    <%= link_to new_member_session_path, class: 'a-button a-button--small' do %>
      Sign in
    <% end %>
  <% end %>
</div>
