.a-content {
  max-width: 40em;
  margin: 0 auto;
  padding: 10px 0;
}

.a-content--wide {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  @media #{$from-medium} {
    width: 67%;
  }
}

.a-content--xwide {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  @media #{$from-medium} {
    width: 90%;
  }
}

.a-content--tight {
  padding: 0;
}

.a-content--tight-bottom {
  padding-bottom: 0;
}

.a-content--tight-top {
  padding-top: 0;
}

.a-content-top {
  margin-top: 15px;
}

.a-content--spacious {
  @media #{$from-medium} {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.a-content-top--spacious {
  @media #{$from-medium} {
    margin-top: 80px;
  }
}

.a-content-narrow {
  max-width: 30em;
}

.a-content--spacious-bottom {
  @media #{$from-medium} {
    margin-bottom: 50px;
  }
}
