<% if flash.any? %>
  <div class="a-flash">
    <div class="a-flash__box">
      <div class="a-flash__message">
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <%= content_tag :div, msg, :class => "a-flash--#{name}" %>
          <% end %>
        <% end %>
      </div>
      <%= link_to '#' do %>
        <i class="fa fa-check"></i>
      <% end %>
    </div>
  </div>
<% end %>
