<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/head' %>
  <body>
    <%= render partial: 'layouts/header'  unless @no_layout %>
    <%= render partial: 'layouts/messages'  unless @no_layout %>
    <%= yield %>
    <div class="u-navbar-clear"></div>
  </body>
</html>
