<% set_page_title(@member.name) %>
<div class="m-profile">
  <%= render partial: 'sidebar' %>
  <div class="m-profile__content">
    <%= render partial: 'nav', locals: { selected: 'topics' } %>
    <div class="m-profile__current-content">
      <% if @member.forum_threads.any? %>
        <%= render partial: 'forum_threads/table', locals: { forum_threads: @member.forum_threads } %>
      <% end %>
  </div>
</div>
